<title>Create</title>
<div class="container">
		<div class="row">
			<div class="col-md-6 offset-md-3">
				<form id="cms">
					<div class="form-group">
						<label for="name">Recipe Name:</label>
						<input placeholder="Post Title" type="text" class="form-control" id="name">
						<br />
						<div class="form-group">
							<label for="imageInput">Input Photo</label>
							<input type="file" class="form-control-file" id="imageInput">
						</div>
						<label for="name">Ingredients:</label>
						<input placeholder="Ingredients" type="text" class="form-control" id="ingredient">
						<br />
						<label for="body">Description:</label>
						<textarea placeholder="Post Body" class="form-control" rows="10" id="body"></textarea>
						<br />
						<button type="submit" class="btn btn-success submit">Submit</button>
					</div>
				</form>
			</div>
		</div>
	</div>