button.submit {
  float: right;
}

form#cms {
  margin-top: 50px;
}

#cms textarea {
  resize: none;
}

.card-header button.delete,
button.edit {
  float: right;
  margin: 5px;
}

#recipe-card {
  margin: 5%;
  padding: 2%;
  background-color: #F8F9FA;
}

#category-display {
  float: right;
}

#ingredients-display {
  margin: 1%;
}

#instructions-display {
  margin: 1%;
}
